#contextualContentMenu {
    position:absolute;
    z-index:10000;
    background-color:white;
    -moz-box-shadow:0 0 5px #AAAAAA;
    -webkit-box-shadow:0 0 5px #AAAAAA;
    box-shadow:0 0 5px #AAAAAA;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius: 5px;
    border:1px solid #AAAAAA;
}

#contextualContentMenu dl.actionMenu {
    float:none;
    clear:both;
    margin-left:0px;
}

#contextualContentMenu ul li {
    list-style-position:inside;
    list-style-type:none;
}

#contextualContentMenu ul li a {
    display:block;
    margin-left:0;
    margin-top:0;
    padding:5px 4px 5px 5px;
    font-size:90%;
    color:#666;
    line-height:1.2em;
}

#contextualContentMenu #contentActionMenus dl.actionMenu a,
#contextualContentMenu #contentActionMenus dl.actionMenu div {
    line-height:1.2em;
}

#contextualContentMenu #contentActionMenus dl.actionMenu dt a {
    background-color:transparent;
    color:#666666;
}

#contextualContentMenu #contentActionMenus dl.actionMenu.activated dt a {
    background:#666666;
    color:#FFFFFF;
}

#contextualContentMenu ul#contentActionMenus li dt a,
#contextualContentMenu ul#contentActionMenus dl#plone-contentmenu-workflow.activated dt a {
    padding:5px 4px 5px 5px;
}

#contextualContentMenu ul li a:hover,
#contextualContentMenu dl dt a:hover {
    background-color:#eee;
    background:#eee;
    color:#000 !important;
}

#contextualContentMenu ul#contentActionMenus {
    float:none;
    padding:0px;
    right:0px;
    top:0px;
    display:inline;
    background:transparent none !important;
}

#contextualContentMenu ul#contentActionMenus li {
    float:none;
}

#contextualContentMenu ul#contentActionMenus li dt {
    margin:0px;
}

#contextualContentMenu ul#contentActionMenus li dt a,
#contextualContentMenu ul#contentActionMenus dl#plone-contentmenu-workflow.activated dt a {
    padding:4px 4px 4px 5px;
}

#contextualContentMenu ul#contentActionMenus dl.activated dt a {
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius: 0px;
    margin:0px;
}

#contextualContentMenu ul#contentActionMenus dl.activated dd {
    left:100%;
    right:auto;
    top:0px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:0px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:0px;
    border-top-right-radius:5px;
}

#contextualContentMenu.onleft ul#contentActionMenus dl.activated dd {
    right:100%;
    left:auto;
    -moz-border-radius-topright:0px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:0px;
    border-top-left-radius:5px;
    border-top-right-radius:0px;
}

.contentmenu_selected {	
    background-color: #333 !important;
    color:black !important;
}

.contentmenu_selected:hover {	
    color:black !important;
}

/* @end */


